name: CI

on:
  pull_request:
    branches: [main]
    types: [opened, synchronize]
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
        with:
          mode: all

      - name: Test core
        run: |
          pytest tests/core
      - name: Test PyTorch
        run: |
          pip install -r requirements/sys/torch.txt --pre --upgrade
          pip install -r requirements/sys/onnx.txt --pre --upgrade
          pip install -r requirements/sys/tvm.txt --pre --upgrade
          pip install -r requirements/sys/onnxruntime.txt --pre --upgrade
          pytest tests/torch
          yes | python nnsmith/cli/model_gen.py debug.viz=true model.type=torch mgen.method=symbolic
          yes | python nnsmith/cli/model_gen.py debug.viz=true model.type=torch mgen.method=symbolic-cinit
          yes | python nnsmith/cli/model_gen.py debug.viz=true model.type=torch backend.type="pt2 backend@inductor" mgen.method=concolic
          yes | python nnsmith/cli/model_gen.py model.type=torch mgen.method=symbolic-cinit mgen.rank_choices="[4]" mgen.dtype_choices="[f32]" mgen.include="[core.NCHWConv2d, core.ReLU]" mgen.patch_requires=./tests/mock/requires_patch.py
          yes | python nnsmith/cli/model_gen.py model.type=torch mgen.method=symbolic-cinit mgen.rank_choices="[4]" mgen.dtype_choices="[f32]" mgen.include="[core.NCHWConv2d, core.ReLU]" mgen.patch_requires=./tests/mock/requires_patch.py backend.type=torchjit
          yes | python nnsmith/cli/model_gen.py model.type=torch mgen.method=symbolic-cinit mgen.rank_choices="[4]" mgen.dtype_choices="[f32]" mgen.include="[core.NCHWConv2d, core.ReLU]" mgen.patch_requires=./tests/mock/requires_patch.py backend.type=torchjit mgen.grad=true
          yes | python nnsmith/cli/model_gen.py model.type=torch mgen.method=symbolic-cinit mgen.rank_choices="[4]" mgen.dtype_choices="[f32]" mgen.include="[core.NCHWConv2d, core.ReLU]" mgen.patch_requires=./tests/mock/requires_patch.py backend.type=pt2 mgen.grad=true
      - name: Test ONNX + ONNXRuntime
        run: |
          pytest tests/onnxruntime
          yes | python nnsmith/cli/model_gen.py model.type=onnx mgen.method=symbolic
          yes | python nnsmith/cli/model_gen.py model.type=onnx backend.type=onnxruntime mgen.method=concolic
          python nnsmith/cli/model_exec.py model.type=onnx backend.type=onnxruntime model.path=nnsmith_output/model.onnx
      - name: Test ONNX + TVM
        run: |
          pytest tests/tvm
      - name: Test ONNX + TRT
        run: |
          pytest tests/tensorrt
      - name: Test TensorFlow
        run: |
          pip install -r requirements/sys/tensorflow.txt --pre --upgrade
          pytest tests/tensorflow --log-cli-level=DEBUG
          yes | python nnsmith/cli/model_gen.py model.type=tensorflow mgen.method=symbolic
          python nnsmith/cli/model_exec.py model.type=tensorflow backend.type=xla model.path=nnsmith_output/model/
          yes | python nnsmith/cli/model_gen.py model.type=tensorflow mgen.method=concolic
          python nnsmith/cli/model_exec.py model.type=tensorflow backend.type=xla model.path=nnsmith_output/model/
          yes | python nnsmith/cli/fuzz.py fuzz.time=10s fuzz.root=fuzz_report model.type=tensorflow backend.type=xla filter.type="[nan,inf,test_fn,test_cls]" filter.patch=./tests/mock/filter_patch.py
